body {
	font-family: Arial, Sans-serif;
	font-size: 13px;
	min-width: 570px;
	max-width: 960px;
}
div {
	margin: 2px 5px;
}
div.tools {
	background: #F5F5F5;
	border-bottom: solid 1px #E5E5E5;
	width: 100%;
	margin: 0;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
}
div.tools>* {
	vertical-align: top;
	margin: 0;
}
div.search {
	display: inline-block;
}
div.blank {
	height: 70px;
}
div.entries {
	margin: 6px;
	display: block;
}
div.labels {
	display: inline;
}
div.primaries div.terms, div.phonetic, div.terms>div.labels {
	display: inline;
	font-weight: normal;
}
div.phonetic.labels, div.text.labels {
	font-size: 12px;
}
div.primaries:first-child:before, div.webDefinitions:before {
	background-color: #F5F5F5;
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 1px 0;
	font-weight: bold;
	display: block;
	padding: 5px 10px;
	margin: 10px 0;
}
div.primaries:first-child:before {
	content: "Dictionary";
}
div.webDefinitions:before {
	content: "Web definitions";
}
div.primaries>div.terms:first-child {
	font-size: 17px;
	font-weight: bold;
}
div.primaries>div.entries {
	margin-left: 24px;
}
div.primaries {
	counter-reset: section;
}
div.primaries div.entries>div.meaning:first-child:before {
	counter-increment: section;
	content: counter(section) ". ";
}
div.example, div.example * {
        display: inline-block;
        margin-left: 10px;
        height: auto;
        width: auto;
}
div.example:first-child:before {
        content: counter(list, disc);
        font-weight: bold;
        margin-left: 5px;
}
div.related {
	display: inline-block;
}
div.related.entries {
	display: block;
}
div.related>span.related {
	font-weight: bold;
}
div.webDefinitions>div.terms {
	display: none;
}
div.webDefinitions>div.entries {
	margin-left: 24px;
}
div.webDefinitions>div.entries:before {
	content: counter(list, disc)" ";
	font-weight: bold;
}
div.webDefinitions>div.entries>div.terms:first-child {
	display: inline;
}
[title^="Part-of"] {
	font-weight: bold;
}
[title=Phonetic] {
	color: #666;
}
[title=Subject] {
	border-left: dotted 1px #BBB;
	padding-left: 0.5em;
	color: #666;
}
