body {
	font-family: Arial, Sans-serif;
	font-size: 13px;
	min-width: 570px;
	max-width: 960px;
}
em {
	font-weight: bold;
	font-style: normal;
}
a {
	color: #0E774A;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #CC1111;
}
div.tools {
	background: #F5F5F5;
	border-bottom: solid 1px #E5E5E5;
	min-width: 770px;
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
div.tools>* {
	vertical-align: top;
	margin: 0;
}
div.search {
	display: inline-block;
}
div.blank {
	height: 70px;
}
div.labels {
	display: inline;
}
div.primaries:first-child:before, div.webDefinitions:before {
	background-color: #F5F5F5;
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 1px 0;
	font-weight: bold;
	display: block;
	padding: 5px 10px;
	margin: 10px 0;
}
div.primaries:first-child:before {
	content: "Dictionary";
}
div.primaries>*, div.webDefinitions>* {
	margin: 0 8px;
	display: block;
}
div.primaries {
	counter-reset: p;
}
div.primaries>div.entries {
	counter-reset: c;
}
div.primaries div:before, div.primaries span:before {
	content: " ";
}
div.primaries div.terms {
	display: inline;
}
div.primaries>div.terms:first-child {
	font-size: 17px;
	font-weight: bold;
	display: inline-block;
}
div.primaries>div.terms:first-child>span.terms {
	display: none;
}
div.primaries:first-child>div.terms:first-child>span.terms {
	display: block;
}
div.phonetic, div.terms>div.labels {
	display: inline;
	font-weight: normal;
}
div.primaries>div.entries>div.meaning:first-child:before {
	counter-increment: p;
	content: counter(p) ". ";
}
div.entries>div.container div.meaning:first-child:before {
	counter-increment: c;
	content: counter(c) ". ";
}
div.primaries div.entries>div.meaning:first-child {
	margin: 4px 0 0 24px;;
	display: inline-block;
}
div.primaries div.entries>div.meaning:last-child {
	margin-bottom: 8px;
}
div.primaries>div.entries:last-child {
	margin-bottom: 12px;
}
div.primaries>div.entries>div.related {
	margin-right: 12px;
}
div.primaries>div.entries>div.related:after {
	content: ";";
}
div.primaries>div.entries>div.related:last-child:after {
	content: "";
}
div.primaries>div.entries>div.related>span.related {
	font-weight: normal;
}
div.primaries>div.entries>div.related>span.related:after {
	content: ", ";
}
div.sound {
	background: url(//ssl.gstatic.com/dictionary/static/images/icons/1/pronunciation.png) no-repeat;
	height: 16px;
	width: 16px;
	opacity: 0.55;
	display: inline-block;
}
div.sound:hover {
	opacity: 1;
}
div.phonetic.labels, div.text.labels {
	font-size: 12px;
}
div.related {
	color: #767676;
	display: inline-block;
}
div.related.entries {
	color: #000;
	display: block;
}
div.related.labels {
	margin-left: 24px;
}
div.related>span.related {
	font-weight: bold;
}
div.example, div.example * {
	color: #767676;
        display: inline-block;
}
div.example:first-child:before {
        content: "- ";
        padding-left: 48px;
}
div.webDefinitions:before {
	content: "Web definitions";
}
div.webDefinitions>div.terms {
	display: none;
}
div.webDefinitions>div.entries {
	margin-bottom: 12px;
}
div.webDefinitions>div.entries>div.terms:first-child {
	display: inline;
}
[title^="Part-of"] {
	font-weight: bold;
}
[title=Phonetic] {
	color: #666;
}
[title=Subject] {
	border-left: dotted 1px #BBB;
	padding-left: 0.5em;
	color: #666;
}
